<h1>Lists</h1>

<app-list-form></app-list-form>

<app-list-child [lists]="lists"></app-list-child>

<!-- <h2>Create new list</h2>
<form [ngFormModel]="myForm">
    <div class="form-group">
        <label for="listName">List name</label>
        <input type="text" class="form-control" id="listName" name="listName">
      </div>
  </form> -->


<!-- <ng-container *ngIf="lists.length > 0; else elseTemplate">
  <h3>My lists:</h3>
  <ul>
    <li *ngFor="let list of lists">
      {{ list | json }}
      <button (click)="remove(list)">Remove</button>
    </li>
  </ul>
</ng-container>
<ng-template #elseTemplate>
  You have no lists yet. Try adding some!
</ng-template> -->